.calendar__time-scale {
  display: flex;
  flex-direction: column;
}

.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__time-scale {
    height: 100%;
    width: 48px;
  }
}

.time-slot {
  width: 60px;
  height: 59px;
  text-align: center;
  display: flex;
  border-bottom: 1px solid #dfe0e4;
  align-items: end;
  justify-content: space-between;
  font-size: 12px;
  position: relative;

  &__time {
    width: calc(100% - 8px);
    padding-left: 8px;
    left: 0;
  }
}
