.button {
  height: 40px;
  width: 125px;
  border-radius: 50%;
  border: 1px solid #a99dc3;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: -6px 5px 7px 3px #27224e;
  font-weight: 500;
  background: linear-gradient(125deg, #857ef7ad 0%, transparent 100%),
    linear-gradient(
      186deg,
      #0b2446 0%,
      #752dbf 20%,
      #77acf1 40%,
      #1a73e8 60%,
      #135cbc 80%,
      #0e458e 100%
    );
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup {
  &__content {
    position: absolute;
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.hidden {
  display: none;
}
